svg{
  display: block;
  width: 100%;
  height: 550px;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
}

.pin{
  fill:red;
}
.country{
  stroke-width: 1;
  stroke: black;
}
.tooltip {
  border-radius: 16px;
  width: 220px;
  height: 140px;
  opacity: 1;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}

.tooltip-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.tooltip-container button {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
